* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



#wrapper {
	margin:0px;
	border: 1px solid #a1a1a1;
	padding:25px;

	width:750px;
	margin-left: auto;
    margin-right: auto;
}



/*HEADER*/

#header {
	margin-bottom:15px;
	min-height: 100px;
}

h1 {
	font-family: arial;
	font-size: 1.8em;
	margin:0px;
	margin-bottom:  15px;

}

#head{
	display: block;
	width: 100%;
	height: 130px;
}

#sub{
	display: block;
	width: 100%;
}

#subtitle{
	/*width:100%;*/
	/*font-family: sans-serif;*/
	font-size: 1em;	
}

#titles {
	display: inline-block;
	float:left;
	width: 60%;
}

#logo {
	display: inline-block;
	/*margin-top: 2px;*/
	margin: 2px,0,1em,1em;
	float:right;
	width: 33%;
	height: 100%;
}

/*INFOBLOCKS*/

.infoblock {
	margin-bottom:25px;
	height: 350px;
	/*background-color: rgb(227,229,226);*/
	border:  1px solid #a1a1a1;
}

.tableblock {
	margin-bottom:25px;
	height: 350px;
	
}

.blockHeader{
	border-bottom: 1px solid #a1a1a1;
	/*border: 1px solid #a1a1a1;*/
	/*background-color: white;*/
	width: 100%;
	height: 36px;
	padding: 10px;
	
}

h3 {
	font-size: 1.1em;
	 text-align: center;
	 vertical-align:middle;
	 margin: 0px;
}

/*block2*/
#cityMap {
	display: inline-block;
	width: 50%;
	height: 100%;
	border-right: 1px solid #a1a1a1;
}
.contentDiv {
	height: 100%;
}

#rayonWrapper {
	vertical-align: top;
	align:left;
	
	display: inline-block;
	width: calc(50% - 4px);
	height: 100%;
	
	
}

.graphtitle{
font-family: sans-serif;
font-size: 0.7em;
font-weight:bold;	
}

.graphlines {
	fill:none;
	stroke:rgb(81, 128, 200);
	stroke-width:2

}

/*block3*/
#block3 {
	height: calc(214px + 36px);
}


#compareChart .private {
	fill: darkblue;
	stroke-width:1;
	stroke: white;
}
#compareChart .msra {
	fill:red;
	stroke-width:1;
	stroke: white;
}
#compareChart .msr {
	fill:rgb(254, 213, 47);
	stroke-width:1;
	stroke: white;
}
#compareChart .uc {
	fill: black;
	stroke-width:1;
	stroke: white;
}

#compareChart .msk {
	fill: red;
	stroke-width:1;
	stroke: white;
}

#compareChart .ryn {
	fill: darkblue;
	stroke-width:1.5;
	stroke: white;
}

#compareChart text.bLabel {
	font-family: sans-serif;
	font-size: 0.4em;
	/*font-weight:bold;*/

}

#compareChart text.wbLabel {
	font-family: sans-serif;
	font-size: 0.4em;
	/*font-weight:bold;*/
	fill:white;
}

#compareChart text.chTitle{
	font-family: sans-serif;
	font-size: 0.8em;
	font-weight:bold;	
}

#compareChart .sRect {
	fill: darkblue;
}

#compareChart .mRect {
	fill: red;
}

#compareChart .PriceLabel {
	font-family: sans-serif;
	font-size: 0.2em;
	/*font-weight:bold;*/
}
#compareChart .RoomLabel{
font-family: sans-serif;
font-size: 0.5em;
font-weight:bold;	
}

#chartContainer {
	display: inline-block;
	width: 74%;
	height: 212px;

	background-color: rgb(227,229,226);
}

#topChart {
	/*height: 262px;*/
	/*width:75%;*/
	/*margin:auto;*/
	/*vertical-align: middle;*/
}

#chartMenu {
	/*position: relative;
	top:-60px;
	left:15px;*/
	vertical-align: top;
	display: inline-block;
	/*margin: auto;*/
	width: 25% ;
	height: 212px;

	/*background-color: rgb(73,72,82);*/
}

#menuAligner{
	margin-top: 31px;
}


.button {
	display: table;
	border: 1px solid #a1a1a1;
	margin: auto;
	margin-bottom:20px;
	padding-left: 5px;
	padding-right: 5px;
	
	width:150px;
	min-height: 35px;
	font-size: 0.9em;
	background-color: white;
	cursor: pointer;

}

.button:hover {
	background-color: #EDECFA; 	
}

.buttonClicked {
	display: table;
	border: 1px solid #a1a1a1;
	margin: auto;
	margin-bottom:20px;
	padding-left: 5px;
	padding-right: 5px;
	
	width:150px;
	min-height: 35px;
	font-size: 0.9em;
	background-color: rgb(227,229,226);
	cursor:pointer; 	

}


p.inbutton {
   display: table-cell;
  text-align: center; 
	margin: auto;
	line-height: 90%;
	vertical-align: middle;
	/*position: relative;
	top:13px*/;
}

/*
.buttonClicked:hover {
	background-color: #AAABAE; 	
}*/

table, th, td {
    border: 1px solid #a1a1a1;
    border-collapse: collapse;
}

table.info  {
	width: 100%;
	height: 100%;
}

.info th{
	width:50%;
	height:36px;
	padding: 10px;
}

.info td{
	width: 50%;
	height: 308;
}

#map2 {
	height: 100%;
}


/*FOOTER*/
#footer{
 height: auto;
 padding: 15px;
 padding-bottom: 10px;
 margin-bottom: 	0px;

}

h6 {
	font-size: 0.95em;
	 text-align: center;
	 vertical-align:middle;
	 margin: 0px;

}

#contacts { font-size: 0.8em;
	margin: 0px;
	margin-top: 4px;
	text-align: center; 
	 
}


#topChart .name {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

#topChart .label {
	text-anchor: end;
	font: 10px sans-serif;
	fill:white;
}


.axis .name{
	text-anchor: start;
	font: 8px sans-serif;
	fill:black;	
}

.axis path,
.axis line {
    fill: none;
    stroke: #a1a1a1;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 8px;
}

.name {
    font-family: sans-serif;
    font-size: 12px;
    font-weight:bold;
}

#quant {
	text-anchor: end;
	font: 12px sans-serif;
	fill:black;
}