* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



#wrapper {
	margin:12px;
	border: 1px solid #a1a1a1;
	padding:25px;

	max-width:776px;
	margin-left: auto;
    margin-right: auto;
}



/*HEADER*/

#header {
	/*margin:25px;*/
	min-height: 150px;
}

h1 {
	font-family: arial;
	font-size: 1.8em;
	margin:0px;
	margin-bottom:  15px;

}

#subtitle{
	/*font-family: sans-serif;*/
	font-size: 1em;	
}

#titles {
	display: inline-block;
	float:left;
	width: 60%;
}

#logo {
	display: inline-block;
	/*margin-top: 2px;*/
	margin: 2px,0,1em,1em;
	float:right;
	width: 35%;
}

/*INFOBLOCKS*/

.infoblock {
	margin-bottom:25px;
	height: 350px;
	/*background-color: rgb(227,229,226);*/
	border: 1px solid #a1a1a1;
}

.blockHeader{
	border-bottom: 1px solid #a1a1a1;
	/*border: 1px solid #a1a1a1;*/
	/*background-color: white;*/
	width: 100%;
	height: 36px;
	padding: 10px;
	
}

h3 {
	font-size: 1.1em;
	 text-align: center;
	 vertical-align:middle;
	 margin: 0px;
}

/*block2*/
#cityMap {
	display: inline-block;
	width: calc(50% - 2px);
	height: calc(100% - 36px);
	border-right: 1px solid #a1a1a1;
}
#radarWrapper {
	vertical-align: top;
	
	display: inline-block;
	width: calc(50% - 2px);
	height: calc(100% - 36px);
	/*background-color: rgb(178,255,241);*/
}

/*block3*/
#block3 {
	height: 300px;
}

#chartContainer {
	display: inline-block;
	min-width: 74%;
	height: 262px;

	background-color: rgb(227,229,226);
}

#topChart {
	height: 262px;
	/*margin:auto;*/
	/*vertical-align: middle;*/
}

#chartMenu {
	/*position: relative;
	top:-60px;
	left:15px;*/
	vertical-align: top;
	display: inline-block;
	/*margin: auto;*/
	width: 25% ;
	height: 262px;

	/*background-color: rgb(73,72,82);*/
}

#menuAligner{
	margin-top: 31px;
}


.button {
	display: table;
	border: 1px solid #a1a1a1;
	margin: auto;
	margin-bottom:20px;
	padding-left: 5px;
	padding-right: 5px;
	
	width:150px;
	min-height: 35px;
	font-size: 0.9em;
	background-color: white;

}

.button:hover {
	background-color: #EDECFA; 	
}

.buttonClicked {
	display: table;
	border: 1px solid #a1a1a1;
	margin: auto;
	margin-bottom:20px;
	padding-left: 5px;
	padding-right: 5px;
	
	width:150px;
	min-height: 35px;
	font-size: 0.9em;
	background-color: #C1C0CA; 	

}

.buttonClicked:hover {
	background-color: #535859; 	
}

p.inbutton {
   display: table-cell;
  text-align: center; 
	margin: auto;
	line-height: 90%;
	vertical-align: middle;
	/*position: relative;
	top:13px*/;
}

/*FOOTER*/
#footer{
 height: auto;
 padding: 15px;
 padding-bottom: 10px;
}

h6 {
	font-size: 1em;
	 text-align: center;
	 vertical-align:middle;
	 margin: 0px;

}

#contacts { font-size: 0.8em;
	margin: 0px;
	margin-top: 4px;
	text-align: center; 
	 
}

.bar {
	fill:brown;
}